body{
    margin: 0;
    box-sizing: border-box;
}

.slide-container{
    position: relative;
    width: 100%;
}

.slide img{
    height: 50%;
    width: 100%;
    
}

.arrow{
    cursor:pointer;
    position: absolute;
    top: 45%;
    color: black;
    background-color: white;
    padding: 8px 20px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: bold;

}

.next{
    right: 10px;
}

.prev{
    left: 10px;
}

.caption{
    color: blue;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.684);
}

.slide{
    display: none;
}